TeaCartWebApp/Connected Services/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CartService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CartService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShoppingCartDataContract.ItemDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartDataContract.ItemDetails" nillable="true" type="tns:ShoppingCartDataContract.ItemDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartDataContract.ItemDetails" nillable="true" type="tns:ArrayOfShoppingCartDataContract.ItemDetails" />
  <xs:complexType name="ShoppingCartDataContract.ItemDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartDataContract.ItemDetails" nillable="true" type="tns:ShoppingCartDataContract.ItemDetails" />
</xs:schema>